# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. André Patrício | Prof. Jorge Oliveira

### Grupo 24
<dl>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1102763 Afonso Ribeiro</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1102756 Miguel Freitas</dd>
    <dt>20 horas (33.3%)</dt>
    <dd>ist1103525 Tomaz Silva</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer (<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)
- Order (<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
- Sale (<u>order_no</u>)
    - order_no: FK(Order)
- pay (<u>order_no</u>, cust_no)
    - order_no: FK(Sale)
    - cust_no: FK(Customer)
- Employee (<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
- process (<u>order_no</u>, <u>ssn</u>)
    - order_no: FK(Order)
    - ssn: FK(Employee)
- Department (<u>name</u>)
- Workplace (<u>address</u>, lat, long)
    - UNIQUE(lat, long)
- works (<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)
- Office (<u>address</u>)
    - address: FK(Workplace)
- Warehouse (<u>address</u>)
    - address: FK(Workplace)
- Product (<u>sku</u>, name, description, price)
- contains (<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
- EAN Product (<u>sku</u>, ean)
    - sku: FK(Product)
- Supplier (<u>TIN</u>, name, address, sku, date)
    - sku: FK(Product) NOT NULL
- delivery (<u>TIN</u>, <u>address</u>)
    - TIN: FK(Supplier)
    - address: FK(Warehouse)
<br>
<br>
- IC-2: When an Order is removed from the database, it must also be removed from Sale.
- IC-3: When an Product is removed from the database, it must also be removed from EAN Product.
- IC-4: When a Workplace is removed from the database, it must also be removed from Office and/or Warehouse.
- IC-5: Any order_no in Order must exist in contains.
- IC-6: Any ssn in Employee must exist in works.
- IC-7: Any sku in Product must exist in Supplier.

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-1: Customers can only pay for the Sale of an Order they have placed themselves

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{name} \big(\sigma_{date\,\ge\,"2023-01-01" \; \wedge \; date\,\le\,"2023-12-31" \; \wedge \; price\,>\,50} (Customer \bowtie Order \bowtie contains \bowtie \Pi_{sku, \; price} (Product)) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{name} \big( \Pi_{name, \; ssn}(\sigma_{date\,\ge\,"2023-01-01" \; \wedge \; date\,\le\,"2023-01-31"} (Employee \bowtie process \bowtie Order)) \bowtie \Pi_{ssn, \; address}(works) \bowtie Warehouse \big)$ <br>
$- \; \Pi_{name} \big( \Pi_{name, \; ssn}(Employee \bowtie process \bowtie Order) \bowtie \Pi_{ssn, \; address}(works) \bowtie Office \big)$

3. Indique o nome do produto mais vendido;

$sale\_products \; \leftarrow \; Sale \bowtie contains \bowtie \Pi_{sku, \; name}(Product)$ <br>
$total\_sales \; \leftarrow _{\;name}G_{sum(qty)\,\rightarrow\,total}(sale\_products)$ <br>
$\Pi_{name} \big(total\_sales \bowtie G_{max(total)\,\rightarrow\,total}(total\_sales) \big)$

4. Indique o valor total de cada venda realizada.

$sale\_products \; \leftarrow \; Sale \bowtie contains \bowtie \Pi_{sku, \; price}(Product)$ <br>
$total\_prices \; \leftarrow \; \Pi_{order\_no, \; sku, \; qty\,*\,price\,\rightarrow\,total\_price}(sale\_products)$ <br>
$_{order\_no}G_{sum(total\_price)\,\rightarrow\,total}(total\_prices)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%%sql
-- schema.sql

DROP TABLE IF EXISTS Customer       CASCADE ;
DROP TABLE IF EXISTS Order_         CASCADE ;
DROP TABLE IF EXISTS Sale           CASCADE ;
DROP TABLE IF EXISTS pay            CASCADE ;
DROP TABLE IF EXISTS Employee       CASCADE ;
DROP TABLE IF EXISTS process        CASCADE ;
DROP TABLE IF EXISTS Department     CASCADE ;
DROP TABLE IF EXISTS Workplace      CASCADE ;
DROP TABLE IF EXISTS works          CASCADE ;
DROP TABLE IF EXISTS Office         CASCADE ;
DROP TABLE IF EXISTS Warehouse      CASCADE ;
DROP TABLE IF EXISTS Product        CASCADE ;
DROP TABLE IF EXISTS contains       CASCADE ;
DROP TABLE IF EXISTS EAN_Product    CASCADE ;
DROP TABLE IF EXISTS Supplier       CASCADE ;
DROP TABLE IF EXISTS delivery       CASCADE ;


CREATE TABLE Customer (
    cust_no     INT PRIMARY KEY,
    name        VARCHAR,
    email       VARCHAR UNIQUE,
    phone       NUMERIC(9, 0),
    address     VARCHAR
);

CREATE TABLE Order_ (
    order_no    INT PRIMARY KEY,
    date_       DATE,
    cust_no     INT REFERENCES Customer NOT NULL
    -- IC-2: When an Order is removed from the database, it must also be removed from Sale.
);

CREATE TABLE Sale (
    order_no    INT PRIMARY KEY REFERENCES Order_
);

CREATE TABLE pay (
    order_no    INT PRIMARY KEY REFERENCES Sale,
    cust_no     INT REFERENCES Customer
    -- IC-1: Customers can only pay for the Sale of an Order they have placed themselves
);

CREATE TABLE Employee (
    ssn         NUMERIC(11, 0) PRIMARY KEY,
    TIN         NUMERIC(9, 0) UNIQUE,
    bdate       DATE,
    name        VARCHAR
);

CREATE TABLE process (
    order_no    INT REFERENCES Order_,
    ssn         NUMERIC(11, 0) REFERENCES Employee,
    PRIMARY KEY (order_no, ssn)
);

CREATE TABLE Department (
    name        VARCHAR PRIMARY KEY
);

CREATE TABLE Workplace (
    address     VARCHAR PRIMARY KEY,
    lat         DOUBLE PRECISION,
    long_       DOUBLE PRECISION,
    UNIQUE (lat, long_)
    -- IC-4: When a Workplace is removed from the database, it must also be removed from Office and/or Warehouse.
);

CREATE TABLE works (
    ssn         NUMERIC(11, 0) REFERENCES Employee,
    name        VARCHAR REFERENCES Department,
    address     VARCHAR REFERENCES Workplace,
    PRIMARY KEY (ssn, name, address)
    -- IC-6: Any ssn in Employee must exist in works.
);

CREATE TABLE Office (
    address     VARCHAR PRIMARY KEY REFERENCES Workplace
);

CREATE TABLE Warehouse (
    address     VARCHAR PRIMARY KEY REFERENCES Workplace
);

CREATE TABLE Product (
    sku             VARCHAR PRIMARY KEY,
    name            VARCHAR,
    description     VARCHAR,
    price           NUMERIC(10, 2) CHECK (price > 0)
    -- IC-3: When an Product is removed from the database, it must also be removed from EAN Product.
);

CREATE TABLE contains (
    order_no    INT REFERENCES Order_,
    sku         VARCHAR REFERENCES Product,
    qty         INT CHECK (qty > 0),
    PRIMARY KEY (order_no, sku)
    -- IC-5: Any order_no in Order must exist in contains.
);

CREATE TABLE EAN_Product (
    sku         VARCHAR REFERENCES Product,
    ean         NUMERIC(13, 0)
);

CREATE TABLE Supplier (
    TIN         NUMERIC(9, 0) PRIMARY KEY,
    name        VARCHAR,
    address     VARCHAR,
    sku         VARCHAR REFERENCES Product NOT NULL,
    date_       DATE
    -- IC-7: Any sku in Product must exist in Supplier.
);

CREATE TABLE delivery (
    TIN         NUMERIC(9, 0) REFERENCES Supplier,
    address     VARCHAR REFERENCES Warehouse,
    PRIMARY KEY (TIN, address)
);

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

INSERT INTO Customer VALUES
    (1, 'Afonso Ribeiro', 'afonso@gmail.com', 912345678, 'Proença-a-Nova'),
    (2, 'Miguel Freitas', 'miguel@gmail.com', 923456789, 'Almada'),
    (3, 'Tomaz Silva', 'tomaz@gmail.com', 934567801, 'Santo Antão do Tojal');

INSERT INTO Order_ VALUES
    (1, '2022-01-01', 1),
    (2, '2022-01-02', 2),
    (3, '2023-01-03', 3),
    (4, '2023-01-04', 2),
    (5, '2023-02-05', 3),
    (6, '2023-02-05', 3),
    (7, '2022-03-07', 1);
    
INSERT INTO Product VALUES
    ('SKU001', 'iPhone 14', 'Descrição do iPhone 14', 840),
    ('SKU002', 'Capa para iPhone 14', 'Descrição da Capa para iPhone 14', 40),
    ('SKU003', 'Cabo Lightning para USB-C', 'Descrição do Cabo Lightning para USB-C', 25),
    ('SKU004', 'Adaptador de Corrente', 'Descrição do Adaptador de Corrente', 25),
    ('SKU005', 'AirTag', 'Descrição da AirTag', 39),
    ('SKU006', 'Porta-chaves para AirTag', 'Descrição do Porta-chaves para AirTag', 20),
    ('SKU007', 'AirPods Pro 2', 'Descrição dos AirPods Pro 2', 299),
    ('SKU008', 'AirPods Max', 'Descrição dos AirPods Max', 629);

INSERT INTO contains VALUES
    (1, 'SKU001', 1),
    (1, 'SKU002', 1),
    (2, 'SKU005', 1),
    (2, 'SKU006', 2),
    (3, 'SKU007', 1),
    (3, 'SKU008', 1),
    (4, 'SKU003', 4),
    (4, 'SKU004', 4),
    (5, 'SKU001', 1),
    (6, 'SKU001', 1),
    (7, 'SKU007', 1);

INSERT INTO Employee VALUES
    (12345678901, 987654321, '2003-01-31', 'Luís Correia'),
    (23456789012, 876543210, '2003-02-28', 'Nuno Gonçalves'),
    (34567890123, 765432109, '2003-03-31', 'Tomás Correia'),
    (45678901234, 654321098, '2003-04-30', 'Miguel Almeida'),
    (56789012345, 543210987, '2003-05-31', 'Luís Pereira');

INSERT INTO process VALUES
    (1, 12345678901),
    (2, 23456789012),
    (3, 12345678901),
    (3, 45678901234),
    (4, 34567890123),
    (4, 56789012345),
    (5, 23456789012),
    (6, 34567890123),
    (7, 45678901234),
    (7, 56789012345);

INSERT INTO Sale VALUES
    (1),
    (2),
    (3),
    (4),
    (6),
    (7);

INSERT INTO Department VALUES
    ('Gestão'),
    ('Marketing'),
    ('Vendas'),
    ('Recursos Humanos');

INSERT INTO Workplace VALUES
    ('Lisboa', 40.7128, 90.0060),
    ('Oeiras', 20.7128, 74.0060),
    ('Loures', 30.7128, 64.0060),
    ('Almada', 23.2312, 12.1233);

INSERT INTO Office VALUES
    ('Lisboa'),
    ('Oeiras');

INSERT INTO Warehouse VALUES
    ('Oeiras'),
    ('Almada');

INSERT INTO works VALUES
    (12345678901, 'Recursos Humanos', 'Almada'),
    (23456789012, 'Vendas', 'Almada'),
    (34567890123, 'Gestão', 'Oeiras'),
    (45678901234, 'Gestão', 'Lisboa'),
    (56789012345, 'Marketing', 'Loures');

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT name FROM
    (SELECT DISTINCT cust_no, name FROM
        customer
        INNER JOIN  (SELECT * FROM Order_ WHERE EXTRACT(YEAR FROM date_) = 2023
                    ) AS Order__
                    USING (cust_no)
        INNER JOIN  contains
                    USING (order_no)
        INNER JOIN  (SELECT sku, price FROM Product WHERE price > 50
                    ) AS Product_
                    USING (sku)
    ) AS listed_customers
    ORDER BY name ASC;

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT name FROM
    (SELECT DISTINCT name, ssn FROM 
        (Employee INNER JOIN process USING (ssn) INNER JOIN Order_ USING (order_no)
        ) AS Processed
            WHERE EXTRACT(YEAR FROM date_) = 2023 AND EXTRACT(MONTH FROM date_) = 01
    ) AS January
    INNER JOIN  (SELECT ssn, address FROM works
                    WHERE ssn IN (
                        SELECT DISTINCT ssn FROM works WHERE address IN (SELECT address FROM Warehouse)
                        EXCEPT
                        SELECT DISTINCT ssn FROM works WHERE address IN (SELECT address FROM Office))
                ) AS Jobs
                USING (ssn)
    ORDER BY name ASC;

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

WITH    sale_products AS (
            SELECT * FROM Sale
            INNER JOIN  contains
                        USING (order_no)
            INNER JOIN  (SELECT sku, name FROM Product
                        ) AS Product_
                        USING (sku)
        ),
        total_sales AS (
            SELECT name, SUM(qty) AS total FROM sale_products GROUP BY name
        )

SELECT name FROM 
    total_sales
    INNER JOIN  (SELECT MAX(total) AS total FROM total_sales
                ) AS max
                USING (total)
    ORDER BY name ASC;

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

WITH    sale_products AS (
            SELECT * FROM Sale
            INNER JOIN  contains 
                        USING (order_no)
            INNER JOIN  (SELECT sku, price FROM Product
                        ) AS Product_
                        USING (sku)
        ),
        total_prices AS (
            SELECT order_no, sku, qty*price AS total FROM sale_products
        )

SELECT order_no, SUM(total) AS amount FROM total_prices GROUP BY order_no ORDER BY order_no ASC;