# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. André Patrício | Prof. Jorge Oliveira

### Grupo 24
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer (<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)
- Order (<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
- Sale (<u>order_no</u>)
    - order_no: FK(Order)
- pay (<u>order_no</u>, cust_no)
    - order_no: FK(Sale)
    - cust_no: FK(Customer)
- Employee (<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)
- process (<u>order_no</u>, <u>ssn</u>)
    - order_no: FK(Order)
    - ssn: FK(Employee)
- Department (<u>name</u>)
- Workplace (<u>address</u>, lat, long)
    - UNIQUE(lat, long)
- works (<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)
- Office (<u>address</u>)
    - address: FK(Workplace)
- Warehouse (<u>address</u>)
    - address: FK(Workplace)
- Product (<u>sku</u>, name, description, price)
- contains (<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order)
    - sku: FK(Product)
- EAN Product (<u>sku</u>, ean)
    - sku: FK(Product)
- Supplier (<u>TIN</u>, name, address, sku, date)
    - sku: FK(Product) NOT NULL
- delivery (<u>TIN</u>, <u>address</u>)
    - TIN: FK(Supplier)
    - address: FK(Warehouse)

- IC-1: When an Order is removed from the database, it must also be removed from Sale.
- IC-2: When an Product is removed from the database, it must also be removed from EAN Product.
- IC-3: When a Workplace is removed from the database, it must also be removed from Office and/or Warehouse.
- IC-4: Any order_no in Order must exist in contains.
- IC-5: Any ssn in Employee must exist in works.
- IC-6: Any sku in Product must exist in Supplier.

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

- IC-7: Any pair (order_no, cust_no) in pay must exist in Order.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

3. Indique o nome do produto mais vendido;

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

4. Indique o valor total de cada venda realizada.

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

In [ ]:
%%sql
-- schema.sql

DROP TABLE IF EXISTS Customer CASCADE ;
DROP TABLE IF EXISTS Order_ CASCADE ;
DROP TABLE IF EXISTS Sale CASCADE ;
DROP TABLE IF EXISTS pay CASCADE ;
DROP TABLE IF EXISTS Employee CASCADE ;
DROP TABLE IF EXISTS process CASCADE ;
DROP TABLE IF EXISTS Department CASCADE ;
DROP TABLE IF EXISTS Workplace CASCADE ;
DROP TABLE IF EXISTS works CASCADE ;
DROP TABLE IF EXISTS Office CASCADE ;
DROP TABLE IF EXISTS Warehouse CASCADE ;
DROP TABLE IF EXISTS Product CASCADE ;
DROP TABLE IF EXISTS contains CASCADE ;
DROP TABLE IF EXISTS EAN_Product CASCADE ;
DROP TABLE IF EXISTS Supplier CASCADE ;
DROP TABLE IF EXISTS delivery CASCADE ;

-- IC-1: When an Order is removed from the database, it must also be removed from Sale.
-- IC-2: When an Product is removed from the database, it must also be removed from EAN Product.
-- IC-3: When a Workplace is removed from the database, it must also be removed from Office and/or Warehouse.
-- IC-4: Any order_no in Order must exist in contains.
-- IC-5: Any ssn in Employee must exist in works.
-- IC-6: Any sku in Product must exist in Supplier.
-- IC-7: Any pair (order_no, cust_no) in pay must exist in Order.

CREATE TABLE Customer (
    cust_no     INT PRIMARY KEY,
    name        VARCHAR,
    email       VARCHAR UNIQUE,
    phone       VARCHAR,
    address     VARCHAR
);

CREATE TABLE Order_ (
    order_no    INT PRIMARY KEY,
    date_        DATE,
    cust_no     INT REFERENCES Customer NOT NULL
);

CREATE TABLE Sale (
    order_no    INT PRIMARY KEY REFERENCES Order_
);

CREATE TABLE pay (
    order_no    INT PRIMARY KEY REFERENCES Sale,
    cust_no     INT REFERENCES Customer
);

CREATE TABLE Employee (
    ssn         INT PRIMARY KEY,
    TIN         INT UNIQUE,
    bdate       DATE,
    name        VARCHAR
);

CREATE TABLE process (
    order_no    INT REFERENCES Order_,
    ssn         INT REFERENCES Employee,
    PRIMARY KEY (order_no, ssn)
);

CREATE TABLE Department (
    name        VARCHAR PRIMARY KEY
);

CREATE TABLE Workplace (
    address     VARCHAR PRIMARY KEY,
    lat         DOUBLE PRECISION,
    long_       DOUBLE PRECISION,
    UNIQUE (lat, long_)
);

CREATE TABLE works (
    ssn         INT REFERENCES Employee,
    name        VARCHAR REFERENCES Department,
    address     VARCHAR REFERENCES Workplace,
    PRIMARY KEY (ssn, name, address)
);

CREATE TABLE Office (
    address     VARCHAR PRIMARY KEY REFERENCES Workplace
);

CREATE TABLE Warehouse (
    address     VARCHAR PRIMARY KEY REFERENCES Workplace
);

CREATE TABLE Product (
    sku             VARCHAR PRIMARY KEY,
    name            VARCHAR,
    description     VARCHAR,
    price           DECIMAL(10, 2)
);

CREATE TABLE contains (
    order_no    INT REFERENCES Order_,
    sku         VARCHAR REFERENCES Product,
    qty         INT,
    PRIMARY KEY (order_no, sku)
);

CREATE TABLE EAN_Product (
    sku         VARCHAR REFERENCES Product,
    ean         INT
);

CREATE TABLE Supplier (
    TIN         INT PRIMARY KEY,
    name        VARCHAR,
    address     VARCHAR,
    sku         VARCHAR REFERENCES Product NOT NULL,
    date_       DATE
);

CREATE TABLE delivery (
    TIN         INT REFERENCES Supplier,
    address     VARCHAR REFERENCES Warehouse,
    PRIMARY KEY (TIN, address)
);

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

-- INSERT ...

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT name FROM
    customer INNER JOIN
    (SELECT * FROM Order_ WHERE EXTRACT(YEAR FROM date_) = 2023) AS Order__
        USING (cust_no) INNER JOIN
    contains USING (order_no) INNER JOIN
    (SELECT * FROM 
        (SELECT sku, price FROM Product) AS Product_
        WHERE price > 50)
        AS Product__ USING (sku);

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT DISTINCT name FROM
    (SELECT name, ssn FROM 
         (SELECT * FROM 
              (Employee INNER JOIN process USING (ssn) INNER JOIN Order_ USING (order_no)) AS Processed
              WHERE EXTRACT(YEAR FROM date_) = 2023 AND EXTRACT(MONTH FROM date_) = 01
          ) AS January) AS January_ INNER JOIN 
    (SELECT ssn, address FROM works
        WHERE ssn IN (
            SELECT DISTINCT ssn FROM works WHERE address IN (SELECT address FROM Warehouse)
            EXCEPT
            SELECT DISTINCT ssn FROM works WHERE address IN (SELECT address FROM Office))
        ) AS Jobs USING (ssn);

-- SELECT DISTINCT name FROM
--     (SELECT name, ssn FROM 
--          (SELECT * FROM 
--               (Employee INNER JOIN process USING (ssn) INNER JOIN Order_ USING (order_no)) AS Processed
--               WHERE EXTRACT(YEAR FROM date_) = 2023 AND EXTRACT(MONTH FROM date_) = 01
--           ) AS January) AS January_ INNER JOIN 
--     (SELECT ssn, address FROM works) AS Jobs USING (ssn) INNER JOIN
--     (SELECT * FROM Warehouse) AS Warehouse_ USING (address)
-- EXCEPT
-- SELECT DISTINCT name FROM
--     (SELECT name, ssn FROM 
--          (SELECT * FROM 
--               (Employee INNER JOIN process USING (ssn) INNER JOIN Order_ USING (order_no)) AS Processed)
--          AS January)
--     AS January_ INNER JOIN 
--     (SELECT ssn, address FROM works) AS Jobs USING (ssn) INNER JOIN
--     (SELECT * FROM Office) AS Office_ USING (address)

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

-- SELECT ...

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

-- SELECT ...